@import "foundation_and_overrides";

.highlight {
  color: $primary-color !important;
}

hr {
  border-color: $primary-color !important;
  border-width: 2px;
}

.boat-right {
  padding-top: 20px;
  margin: 8px;
  width: 60%;
}

.panel p {
  color: $white-smoke;
}

body {
  background: url(https://s3-us-west-2.amazonaws.com/jandj-assets/bg.jpg) repeat !important;
}

.button, button {
  background-color: $primary-color;
  color: $black !important;
}