<footer>

  <ul class="center inline">
    <li class="active"><%= link_to "Home",     root_path    %></li>
    <li><%= link_to "Products", '/products'  %></li>
    <li><%= link_to "Archive",  main_app.archive_path %></li>
  </ul>
  
</footer>