<footer>
  <p class="text-center">
    Copyright &copy; J and J Capitol Enterprises  |  Website created by <a href="mailto:steven@stevenscloud.com">StevensCloud</a>
  </p>  
  <ul class="text-center">
    <li><%= link_to "Home",     root_path    %></li>
    <li><%= link_to "Products", '/products'  %></li>
    <li><%= link_to "Archive",  main_app.archive_path %></li>
  </ul>  
</footer>